* 
{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section 
{
  height: 100vh;
  overflow: hidden;
  background: #000;
  width: 100vw;
}
marquee p
{
  color: transparent;
  position: relative;
  font-size: 1.5em;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  background: url('../IMG/282111744_1489503568162921_8550020185875727182_n.jpg'), url('../IMG/282111744_1489503568162921_8550020185875727182_n.jpg');
  background-blend-mode: color-dodge;
  background-position: center;
  background-attachment: fixed;
  background-size: center;
  background-repeat: no-repeat;
  -webkit-background-clip:text;
}