/* :root
{
    --text-color: green;
} */
h1
{
    /* color: var(--text-color); */
    font-size: 1rem;
}
.box
{
    width: 50vw;
    height: 50vh;
    background-color: aqua;
}
html
{
    font-size: 100px;
}